@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #00000096;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0341c7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
<<<<<<< HEAD
  font-family: GeistVF, Helvetica, sans-serif;
=======
  font-family: Arial, Helvetica, sans-serif;
>>>>>>> 0d3f037 (Populate dashboard and add pages for assessments, marking-suite and submissions)
  padding: 1rem;
}
