@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --background: #00000096;
  --foreground: #ffffff;
  --background: #00000096;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #0341c7;
    --background: #ffffff;
    --foreground: #0341c7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: GeistVF, Helvetica, sans-serif;
  padding: 1rem;
}
